<div class="col-xs-12 col-md-12">
    <h2><i class="fa fa-comments-o"></i> Feedback &amp; Suggestions</h2>
    <p>If you have general feedback, experience a bug or have any idea for improving this service, please email us at:</p>
    <p><strong><a href="mailto:phieudu241@gmail.com">phieudu241@gmail.com</a></strong></p>
    <h2><i class="fa fa-support"></i> Help Requests</h2>
    <p>If you need help with the API or Mobile Notifier App, please email us at:</p>
    <p><strong><a href="mailto:phieudu241@gmail.com">phieudu241@gmail.com</a></strong></p>
    <h2><i class="fa fa-user"></i> On your account</h2>
    <p>If you have any problems with your account, please email us at:</p>
    <p><strong><a href="mailto:phieudu241@gmail.com">phieudu241@gmail.com</a></strong></p>
</div>
