<div class="col-xs-12 col-md-12">
    <div class="libraries">
        <h1 class="title">.NET - Notifier Mobile Service</h1>
        <div class="code-example">
            <h2>Download</h2>
            <p>You can download Notifier Mobile Service as a DLL file.</p>
            <p>
                <a href="/Download/NotifierMobileService.dll" target="_self" class="btn btn-success btn-lg">Download <i class="fa fa-cloud-download"></i></a>
            </p>
            <p>Or</p>
            <p>To install Notifier Mobile Service, run the following command in the Package Manager Console</p>
            <pre class="prettyprint">
PM> Install-Package NotifierMobileService
            </pre>
    
            <p>
                By Notifier Mobile Service, you can <code>CREATE/GET/UPDATE/DELETE</code> notifications easily just with a few lines of code.
            </p>
        </div>
        

        <!-- Import library -->
        <div class="code-example">
            <h2>Import library</h2>
            <pre class="prettyprint">
    using NotifierMobile;
            </pre>
        </div>

        <!-- Create Notification -->
        <div class="code-example">
            <h2>Create Notification</h2>
            <pre class="prettyprint">
    // Create object for authentication
    Authentication authentication = new Authentication("yourUsername", "yourSecretKey");

    // Create new notification
    Notification notification = new Notification();
    notification.Title = "title";
    notification.Message = "message";
    notification.Type = (int) NotificationType.INFO;

    // Add notification by service
    NotifierMobileService.Add(notification, authentication);
            </pre>

            <p class="note bg-danger">Note: Notification id is generated automatically, you do not need to set id for new notification</p>
        </div>
        
        <!-- Get All Notifications -->
        <div class="code-example">
            <h2>Get All Notifications</h2>
            <pre class="prettyprint">
    // Create object for authentication
    Authentication authentication = new Authentication("yourUsername", "yourSecretKey");

    // Get all notifications by service
    NotifierMobileService.GetAll(authentication);
            </pre>

            <p class="note bg-danger">Note: You can get notifications by type (INFO, WARNING, ERROR) or status of notification (unread or read)</p>
        </div>

        <!-- Get Notification By Id -->
        <div class="code-example">
            <h2>Get Notification By Id</h2>
            <pre class="prettyprint">
    // Create object for authentication
    Authentication authentication = new Authentication("yourUsername", "yourSecretKey");

    // Get notification with id = 1 by service
    NotifierMobileService.Get(1, authentication);
            </pre>
        </div>

        <!-- Update Notification -->
        <div class="code-example">
            <h2>Update Notification</h2>
            <pre class="prettyprint">
    // Create object for authentication
    Authentication authentication = new Authentication("yourUsername", "yourSecretKey");

    Notification notification = new Notification();
    // Update message
    notification.Message = "message";

    // Update message for notification with id = 1 by service
    NotifierMobileService.Update(1, notification, authentication);
            </pre>

            <p class="note bg-danger">Note: You can not update id of notification</p>
        </div>

        <!-- Mark Notification As Read -->
        <div class="code-example">
            <h2>Mark Notification As Read</h2>
            <pre class="prettyprint">
    // Create object for authentication
    Authentication authentication = new Authentication("yourUsername", "yourSecretKey");

    // Mark notification with id = 1 as read by service
    NotifierMobileService.MarkAsRead(1, authentication);
            </pre>
        </div>

        <!-- Delete Notification -->
        <div class="code-example">
            <h2>Delete Notification</h2>
            <pre class="prettyprint">
    // Create object for authentication
    Authentication authentication = new Authentication("yourUsername", "yourSecretKey");

    // Delete notification with id = 1 by service
    NotifierMobileService.Delete(1, authentication);
            </pre>
        </div>

        <!-- Exception -->
        <div class="code-example">
            <h2>Exception</h2>
            <p>A <code>NotificationException</code> will be throwed when there is an error during connecting to server.</p>
            <pre class="prettyprint">
    try
    {
        // Create object for authentication
        Authentication authentication = new Authentication("yourUsername", "yourSecretKey");

        // Create new notification
        Notification notification = new Notification();
        notification.Title = "title";
        notification.Message = "message";
        notification.Type = (int) NotificationType.INFO;

        // Add notification by service
        NotifierMobileService.Add(notification, authentication);
    }
    catch (NotificationExcception e)
    {
        Console.WriteLine(e.ToString());
    }
            </pre>
        </div>

    </div>
</div>