<div class="col-xs-12 col-md-12">
    <section class="introduction">
        <div class="section-wrapper text-center">
            <div class="app-name">
                <img src="../../Images/icon_notifier_mobile.png" alt="Notifier Mobile"> Notifier Mobile
            </div>
            <div class="info">
                <h1>
                    Notifier Mobile is free, flexible, and easy way to keep track of your system, your application or ... with notifications in real time.
                </h1>
            </div>
            <div class="description text-center">
                <p>
                    You worry about your system suddenly crashing  and you aren't aware of it for fixing
                    or you want to have a notification when an event in your system is triggered.
                    Notifier mobile help you know whatever happens with your system through mobile application.
                </p>
                <a class="btn btn-success btn-lg" href="/register"> Sign Up – It’s Free. </a>
            </div>
            <div class=" description text-center">
                <p>
                    <a href="/login">Log in… </a>
                </p>
            </div>
        </div>
    </section>

    <section class="banner ">
        <div class="section-wrapper text-center">
            <img src="Images/banner_notifier_mobile.png" alt="Notifier Mobile">
        </div>
    </section>

    <section class="coding">
        <div class="section-wrapper text-center">
            <h2 class="title">It's easy to create a notification with a few lines of code</h2>
            <p class="description">
                You can do this with 2 libraries <a href="/java">Java</a> or <a href="/dotnet">.NET</a>.
                For other languages, since <a href="/api">Notification API</a> is introduced, you can implement it by yourself easily.
            </p>

            <div class="code-example">
                <pre class="prettyprint prettyprinted"><span class="pln">
  </span><span class="typ">Authentication</span><span class="pln"> authentication </span><span class="pun">=</span><span class="pln"> </span><span class="kwd">new</span><span class="pln"> </span><span class="typ">Authentication</span><span class="pun">(</span><span class="str">"yourUsername"</span><span class="pun">,</span><span class="pln"> </span><span class="str">"yourSecretKey"</span><span class="pun">);</span><span class="pln">
  </span><span class="typ">Notification</span><span class="pln"> notification </span><span class="pun">=</span><span class="pln"> </span><span class="kwd">new</span><span class="pln"> </span><span class="typ">Notification</span><span class="pun">(</span><span class="str">"title"</span><span class="pun">,</span><span class="pln"> </span><span class="str">"message"</span><span class="pun">,</span><span class="pln"> </span><span class="typ">NotificationType</span><span class="pun">.</span><span class="pln">INFO</span><span class="pun">.</span><span class="pln">ordinal</span><span class="pun">());</span><span class="pln">

  </span><span class="typ">NotifierMobileService</span><span class="pun">.</span><span class="pln">add</span><span class="pun">(</span><span class="pln">authentication</span><span class="pun">,</span><span class="pln"> notification</span><span class="pun">);</span><span class="pln"></span>
                </pre>

<!--                @*<pre class="prettyprint">-->

<!--  Authentication authentication = new Authentication("yourUsername", "yourSecretKey");-->
<!--  AddModel addModel = new AddModel("title", "message", NotificationType.INFO.ordinal());-->

<!--  NotifierMobileService.add(authentication, addModel);-->
<!--                </pre>*@-->
                
            </div>
        </div>
    </section>


    <section class="mobile-app">
        <div class="section-wrapper text-center">
            <h2 class="title">Get your notifications in real time with Notifier Mobile application</h2>
            <div class="description">
            <div class="no-padding-left col-xs-8 col-md-8">
                <div class="section-wrapper">
                    <p>
                        Maximum of 5 minutes as soon as the notifications have been raised by your code, <a href="/notifierMobileApp">Notifier Mobile application</a> will get all of them automatically and notice you.
                    </p>

                    <p>
                        The <a href="/notifierMobileApp">Notifier Mobile application</a> is available on:
                    </p>

                    <p>
                        <a href="http://play.google.com/store/apps/details?id=com.notifiermobileandroid" target="_blank">
                            <img src="Images/android_app_store.png" alt="Notifier Mobile Android">
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-xs-4 col-md-4">
                <img class="demo" src="Images/notifier_mobile_app.png" alt="Notifier Mobile">
            </div>
            </div>
        </div>
    </section>
</div>
