<div class="col-xs-12 col-md-12">
    <div class="notifier-mobile-app">
        <h1 class="title">Notifier Mobile App</h1>
        <div class="description col-xs-8 col-md-8">
            <p>
                Notifier Mobile is a free mobile application. Maximum of 5 minutes as soon as the notifications have been raised by your code, the application will get all of them automatically and notice you.
            </p>

            <p>
                The Notifier Mobile application is available on:
            </p>

            <p>
                <a href="http://play.google.com/store/apps/details?id=com.notifiermobileandroid"  target="_blank">
                    <img src="Images/android_app_store.png" alt="Notifier Mobile Android">
                </a>
            </p>

            <h2>For other mobile OS</h2>
            <p>
                If Notifier Mobile is helpful for you and you need it in another mobile OS such as iOS, Windows Phone then
                please <a href="/contact">contact us</a>, we will have a plan for that.
                </br>
                Thanks.
            </p>
        </div>
        <div class="col-xs-4 col-md-4">
            <img class="demo" src="Images/notifier_mobile_app.png" alt="Notifier Mobile Android">
        </div>
    </div>
    
</div>
