<div class="col-xs-12 col-md-12">
    <div class="libraries">
        <h1 class="title">Other Languages</h1>
        <p>
            Up to now, we have built libraries for 2 languages are <a href="/java">Java</a> and <a href="/dotnet">.NET</a>
        </p>
        <p>
            For other languages such as Python, JS, Ruby ..., since <a href="/api">Notification API</a> has been introduced, you can easily implement the library with your favourite language.
            We will highly appreciate if you contribute your library for us. We will share it for everybody.
        </p>
    </div>
</div>