<div class="col-xs-12 col-sm-12" ng-cloak>
    <form class="form-horizontal" name="resetPasswordForm" noValidate ng-submit="submit()">
        <div class="form-group">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <h3>Notifier Mobile</h3>
            </div>
        </div>
        
        <!-- Reset link is invalid -->
        <div class="form-group" ng-if="'@ViewBag.ErrorMessage' != ''">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <p class="alert alert-danger">@ViewBag.ErrorMessage</p>
            </div>
        </div>
        
        <div ng-if="'@ViewBag.ErrorMessage' == ''">
            <!-- Messsages area -->
            <div class="form-group" ng-show="resetSuccessfully">
                <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                    <!-- Reset password successfully-->
                    <p class="alert alert-success">
                        Your password has been reset successfully!.
                        <br />
                        Now, you can login <a ui-sref="login">here</a>
                    </p>
                </div>
            </div>

            <div class="form-group" ng-show="error">
                <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                    <!-- Reset password Fail -->
                    <p class="alert alert-danger" ng-bind="error"></p>
                </div>
            </div>

            <div ng-show="!resetSuccessfully">
                <!-- Password -->
                <div class="form-group">
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                        <input type="password" class="form-control" name="password" ng-model="resetPasswordModel.password" maxlength=200 placeholder="New password" ng-disabled="posting" required>
                        <div ng-show="resetPasswordForm.$submitted || resetPasswordForm.password.$touched">
                            <span class="text-danger" ng-show="resetPasswordForm.password.$error.required">Please input this field</span>
                        </div>
                    </div>
                </div>

                <!-- Confirm Password -->
                <div class="form-group">
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                        <input type="password" class="form-control" name="confirmPassword" ng-model="resetPasswordModel.confirmPassword" maxlength=200 placeholder="Confirm new password" ng-disabled="posting" required>
                        <div ng-show="resetPasswordForm.$submitted || resetPasswordForm.confirmPassword.$touched">
                            <span class="text-danger" ng-show="resetPasswordForm.confirmPassword.$error.required">Please input this field</span>
                        </div>
                    </div>
                </div>

                <!-- Submit -->
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <button type="submit" class="btn btn-success col-sm-12" ng-disabled="posting">Reset password</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
