<div class="col-xs-12 col-sm-12" ng-cloak>
    <form class="form-horizontal" name="loginForm" ng-submit="generateSecretKey()">
        <div class="form-group">
            <div class="col-xs-12 col-sm-offset-4 col-sm-4">
                <h3>Notifier Mobile</h3>
            </div>
            <div class="col-xs-12 col-sm-offset-4 col-sm-4">
                <!-- Error -->
                <p class="alert alert-danger" ng-show="error" ng-bind="error"></p>
            </div>

            <div ng-show="!error">
                <div class="col-xs-12 col-sm-offset-4 col-sm-4">
                    <label>Your secret key</label>
                    <p class="alert alert-success" ng-bind="secretKey"></p>
                    <label>Warning:</label>
                    <p class="alert alert-warning text-justify">
                        Since secret key is re-generated. The <a href="/notifierMobileApp">Notifier Mobile application</a> will only get notifications belong to this new secret key
                        and ignore all old ones.
                        <br />
                        <br />
                        You should logout and login on the <a href="/notifierMobileApp">Notifier Mobile application</a> again for applying this change.
                    </p>
                </div>
        
                <div class="col-xs-12 col-sm-offset-4 col-sm-4">
                    <button type="submit" class="btn btn-primary col-sm-12" ng-disabled="posting">Re-generate secret key</button>
                </div>
            </div>
        </div>
    </form>
</div>
